# Data Types

![images](Datatypes.jpeg)

### Numerical Data Types
- int
- float
- complex
- boolean

In [15]:
num=100
num1="100"
num2=100.0
num3=100+5j
num4=100>400
print (num)
print(type(num))
print (num1)
print(type(num1))
print (num2)
print(type(num2))
print(num3)
print(type(num3))
print(type(num4))

100
<class 'int'>
100
<class 'str'>
100.0
<class 'float'>
(100+5j)
<class 'complex'>
<class 'bool'>

### String Data Type
- String is declared as single Quote or Double quotes

In [17]:
mystring="This is a String in Double Quotes"
print(type(mystring))

<class 'str'>

In [18]:
mystring1='This is a String in Double Quotes'
print(type(mystring1))

<class 'str'>

#### Dynamically
- input()
- input(Display label)

In [23]:
name=input()
print(name)

Indu
Indu

In [24]:
name1=input("Enter your name here....") 
print(name1)

Enter your name here....Priya
Priya

In [21]:
name2=input("Enter your name here....")

Enter your name here....priya

In [22]:
print(name2)

priya

In [25]:
# Integer Dynamic

string=input("Enter your String")
integer=int(input("Enter your Number"))

Enter your StringSiddu
Enter your Number36

In [26]:
print(type(string))

<class 'str'>

In [27]:
print(type(integer))

<class 'int'>

In [30]:
a=10>10.0

In [31]:
a

False

In [32]:
integer=int(input("Enter your Number"))

Enter your Number100

In [33]:
integer=int(input("Enter your Number"))

Enter your Number200.0

ValueError: invalid literal for int() with base 10: '200.0'

In [34]:
float1=float(input("Enter your Number"))

Enter your Number100.0

In [35]:
float1=float(input("Enter your Number"))

Enter your Number100

In [36]:
print(type(float1))

<class 'float'>

### List
- List is declared as Square brackets []
- It supports hetrogeneous datatypes
- It is mutable

In [37]:
mylist=[]
print(type(mylist))
print(mylist)

<class 'list'>
[]

In [38]:
mylist1=[10,30.7,"Vemu Colg","500"]
print(type(mylist1))
print(mylist1)

<class 'list'>
[10, 30.7, 'Vemu Colg', '500']

In [39]:
mylist2=[10,20,40,50]
print(type(mylist2))
print(mylist2)

<class 'list'>
[10, 20, 40, 50]

## tuple
- It is declared as a paranthesis()
- It is immutable/not changable
- It is also hetrogenous

In [43]:
mytuple=(199,"78","APSSDC",'Vemu Colg')
print(type(mytuple))
print(mytuple)

<class 'tuple'>
(199, '78', 'APSSDC', 'Vemu Colg')

### Dictionary
- It is declared as a Flower Brackets {}
- It is write as {key : value}
- It is mutable/Changable

In [44]:
mydict={}
print(type(mydict))
print(mydict)

<class 'dict'>
{}

In [53]:
mydict1={"names":"APSSDC","colg":"Vemu","number":36,1:"one"}
print(type(mydict1))
print(mydict1)

<class 'dict'>
{'names': 'APSSDC', 'colg': 'Vemu', 'number': 36, 1: 'one'}

### Set
- Set is declared as a flower braces
- It is created an order
- It delete duplicates

In [62]:
myset={10,29,36,98,76,52,10,10,10,29,36,0,22,44,22}
print(type(myset))

<class 'set'>

In [63]:
myset

{0, 10, 22, 29, 36, 44, 52, 76, 98}

In [67]:
myset1={"APSSDC","apssdc","Vemu","Z,WREWT","APSSDC"}
print(myset1)

{'Z,WREWT', 'APSSDC', 'Vemu', 'apssdc'}

In [68]:
myset1

{'APSSDC', 'Vemu', 'Z,WREWT', 'apssdc'}