# Functional Programming

- Lambda
- map
- filter
- reduce

## Lambda()

- The lambda is a operator or a lambda function is a way to create small ananymous function i.e.., function without a name..
- Lambda is a combination of using map(),filter(),reduce()
- syn
    - lambda arg1,arg2,ar3.......  **:** expression

In [4]:
# normal functions (addition program)
def addition (a,b):
    Z=a+b
    return ("the addition of a,b is ",Z)

addition(3,6)

('the addition of a,b is ', 9)

In [6]:
# addition program using lambda

addition1=lambda a,b : a+b

addition1(3,6)

9

## map():

- it apllies a given function to all the iterables and create a new list
- syn:
    - map(function name ,[iterable1,iter2,iter3,....])

In [10]:
def mul(z):
    return z*z
x=map(mul, [1,2,3,4,5,6,7,8,9])
print(list(x))

[1, 4, 9, 16, 25, 36, 49, 64, 81]
()

In [11]:
print(tuple(x))

()

In [13]:
def mul1(z):
    return z*z
x1=map(mul1, (1,2,3,4,5,6,7,8,9))
print(tuple(x1))

(1, 4, 9, 16, 25, 36, 49, 64, 81)

In [16]:
z1=["APSSDC" ,"Vemu College" , "india" , "Siddu" , "Indu" ,"priya" ]
z2=map(str.upper,z1)
print(list(z2))

['APSSDC', 'VEMU COLLEGE', 'INDIA', 'SIDDU', 'INDU', 'PRIYA']

In [17]:
z1=["APSSDC" ,"Vemu College" , "india" , "Siddu" , "Indu" ,"priya" ]
z2=map(str.lower,z1)
print(list(z2))

['apssdc', 'vemu college', 'india', 'siddu', 'indu', 'priya']

In [19]:
z1=["APSSDC" ,"Vemu College" , "india" , "Siddu" , "Indu" ,"priya" ]
z2=map(str.capitalize,z1)
print(list(z2))

['Apssdc', 'Vemu college', 'India', 'Siddu', 'Indu', 'Priya']

In [21]:
z1=["APSSDC" ,"Vemu College" , "india" , "Siddu" , "Indu" ,"priya" ]
z2=map(str.title,z1)
print(list(z2))

['Apssdc', 'Vemu College', 'India', 'Siddu', 'Indu', 'Priya']

## map() with lambda()

In [24]:
s=[9,8,7,6,5,4]
s1=map(lambda x:x**3 ,s)
print(list(s1))

[729, 512, 343, 216, 125, 64]

## Filter()

- It creates an output list consisting of values for which the function returns True
- syn:
    - filter(funname,iterables)

In [31]:
s2=[10,15,20,25,30,35,40,45,50,55,90,96,94,35.40,100,150,50,55]
def greater(x):
    if x>50:
        return True
    return False
s3=filter(greater,s2)
for i in s3:
    print(i,end=" ")

55 90 96 94 100 150 55

In [36]:
## Filter() with lambda()
s4=filter(lambda x1:x1>50,s2)
list(s4)

[55, 90, 96, 94, 100, 150, 55]

# Reduce()

- Reduce means decrease 
- It returns a single value as a output
- reduce is useful when you need to apply a function to an iterable and reduce it to a single cumulative value.

- syn:
    - reduce(fun,sequence)

s5=[1,2,3,4,5,6]

x+y

x=1  

1 ---> 1+2=3

x=3

3 ---->3+3 =6

x=6

6 --->6+4=10

x=10

10 --->10+5=15

x=15

15--->15+6=21

x= 21

In [42]:
from functools import reduce
def r(x,y):
    return x+y
s5=reduce(r,[1,2,3,4,5,6])
print((s5))

21

## reduce with lambda()

In [44]:
s6=reduce(lambda x2,y2:x2+y2, [1,2,3,4,5,6])
s6

21

## filter() with map()

In [59]:
s2=[10,15,20,25,30,35,40,45,50,55,90,96,94,35.40,100,150,50,55]
fm= map(lambda x3:x3+x3,filter(lambda x3:(x3>50) ,s2))
# filter means >50 vales only make a list 
# [55,90,96,94,100,150,55] 
# after this apply map addition with same value
#[55,90,96,94,100,150,55] +  [55,90,96,94,100,150,55]

list(fm)

[110, 180, 192, 188, 200, 300, 110]

# map() with filter()

In [58]:
s2=[10,15,20,25,30,35,40,45,50,55,90,96,94,35.40,100,150,50,55]
mf=filter((lambda x3:x3>50),map(lambda x3:x3+x3,s2))
# apply map addition with same value
#[10,15,20,25,30,35,40,45,50,55,90,96,94,35.40,100,150,50,55]+[10,15,20,25,30,35,40,45,50,55,90,96,94,35.40,100,150,50,55]
# [20,30,40,50,60,70,80,90,100,110,180,192,.....]
# after this filter >50
print(list(mf))

[60, 70, 80, 90, 100, 110, 180, 192, 188, 70.8, 200, 300, 100, 110]

## map() ,filter(),reduce() with lambda

In [67]:
s2=[10,15,20,25,30,35,40,45,50,55,90,96,94,35.40,100,150,50,55]
mfr= reduce(lambda x,y:x+y,map(lambda x3:x3+x3,filter(lambda x3:(x3>50) ,s2)))
print((mfr))

1280

In [68]:
sum([110, 180, 192, 188, 200, 300, 110])

1280